* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.box__inner {
    text-align: center;
}
h1 {
    max-width: 700px;
    margin: 80px auto 40px;
    font-weight: 100;
    line-height: 45px;
}
p {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 40px;
    line-height: 30px;
}
.icon__box {
    max-width: 500px;
    display: flex;
    margin-bottom: 60px;
    justify-content: space-around;
    margin: 0 auto;
}
i.fa-solid {
    color: rgb(26, 152, 156);
    font-size: 50px;
}