* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.head1 {
    background-image: linear-gradient(to left, violet, red);
    padding: 20px;
    border-radius: 10px;
    margin: 0px;
}
h1 {
    padding-bottom: 20px;
}
.block1, .block2 {
    border: 1px black solid;
    height: 100px;
    width: 100px;
    color: white;
    padding: 10px;
}
.block1 {
    background-color: red;
    position: absolute;
    left: 40px;
    top: 200px;
    clip: rect(79px, auto, auto, 60px);
}
.block2 {
    position: absolute;
    background-color: blue;
    z-index: -1;
    top: 180px;
}