* {
    box-sizing: border-box;
    font-family: Arial;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.box {
    background: aqua;
}
.box__inner {
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}
.item__content {
    padding-left: 25px;
    text-align-last: left;
}
.number {
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}
.text {
    font-size: 12px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.fa {
    font-size: 30px;
}